<div class="login">
    <h2 class="text-center ">Connexion</h2>
    <div class="col">
        <mat-form-field class="w-100" appearance="fill">
            <mat-label>Saisir votre mail</mat-label>
            <input matInput placeholder="Enter your mail" name="email" [(ngModel)]=email type="email">
        </mat-form-field>
    </div>
    <div class="col">
        <mat-form-field appearance="fill" class="w-100">
            <mat-label>Saisir votre mot de passe</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password">
        </mat-form-field>
    </div>
    <div class="col">
        <button (click)="login()" mat-raised-button class="w-100 primary">
            Se connecter
        </button>
    </div>
</div>